<div class="about-lab-wrapper">
    <div class="about-content">
        <h1>Sobre o Lab Livre</h1>
        <h4 class="about-text">O Laboratório Avançado de Produção, Pesquisa e Inovação em Software, foi projetado para atuar em diversas áreas tecnológicas, desde sistemas de informação até sistemas embarcados, objetivando as oportunidades de pesquisas teóricas e aplicadas.</h4> 
        <h4 class="about-text">A profa. Carla Rocha é professora na Faculdade de Engenharia de Software da Universidade de Brasília (UnB), onde atua como uma das coordenadoras do laboratório Lab Livre. Em 2024, somos organização participante do programa Google Summer of Code. Participa também do grupo de pesquisa com IME-USP Sistemas de Software, Ciência e Engenharia de Dados e Computação de Alto Desempenho, e faz parte do mestrado acadêmico PPCA. Os interesses acadêmicos se concentram na área de Engenharia de Software, abrangendo tópicos como DevOps, Agile, aspectos humanos do desenvolvimento de software, Aprendizado de Máquina e Software Livre.</h4>    
        <h4 class="about-text">Saiba mais em <a href="http://www.carlarocha.org">www.carlarocha.org</a></h4>   
    </div>
    <div class="imagens-grid-wrapper">
        <div class="images-column big-image">
            <img src="{{ site.baseurl }}/_images/about_lab/carla_ahazando.jpg">
        </div>
        <div class="images-column">
            <div class="grid-wrapper">
                <img src="{{ site.baseurl }}/_images/about_lab/conf.png">
            </div>
            <div class="grid-wrapper">
                <img src="{{ site.baseurl }}/_images/about_lab/lab_photo.jpg">
            </div>
        </div>
    </div>
</div>
