<div class="institutions-wrapper">
    <div class="institutions-text-wrapper">
        <h1 class="section-title">Parcerias</h1>
    </div>
    <div class="institutions-image-wrapper">
        <div class="image-wrapper">
            <img class="image-institutions-effect" height="30" src="{{ site.baseurl }}/_images/unb.png">
        </div>
        <div class="image-wrapper">
            <img class="image-institutions-effect" height="30" src="{{ site.baseurl }}/_images/lappis.png">
        </div>

    </div>
</div>  