<div class="last-editions-wrapper">
    <div class="editions-image-wrapper">
        <img class="image-editions-effect" src="/_images/mds.png">
    </div>
    <div class="editions-text-wrapper">
        <h1 class="editions-title">Inovação, conhecimento e qualidade</h1>
        <h4 class="editions-text">A disciplina utiliza aprendizagem por experiência, aprendizagem orientada a projetos, processo de Onboarding e práticas de comunidades Open source para que o aluno seja ativo no seu processo de aprendizagem. Mais de 300 alunos já fizeram a disciplina na metodologia, que é continuamente evoluida.</h4>
    </div>
</div>