<div class="method-wrapper">
    <div class="method-title-wrapper">
        <h1 class="method-title">Disciplina Orientada a Projetos</h1>
    </div>

    <div class="method-content-wrapper">
        <div class="method-content">
            <div class="method-content-container">
                <img class="method-image" height="32" src="/_images/ead.png">
                <h2 class="method-content-title">
                      Release I
                </h2>
            </div>
            <p class="method-content-text">
                Os alunos se reunem em grupos de até 6 participantes para desenvolverem um projeto de software. Na Release I, são entregues a definição de escopo e tecnologia, além da implementação inicial
            </p>
        </div>
        <div class="method-content">
            <div class="method-content-container">
                <img class="method-image" height="32" src="/_images/group.png"> 
                <h2 class="method-content-title">
                   Release II
                </h2>
            </div>
            <p class="method-content-text">
                Na release II cada grupo entrega uma Prova de Conceito (PoC) funcionando em ambiente de homologação 
            </p>
        </div>
    </div>
</div>