<div class="method-wrapper">
    <div class="method-title-wrapper">
        <h1 class="method-title">Aprendizagem por Experiência</h1>
    </div>

    <div class="method-content-wrapper">
        <div class="method-content">
            <div class="method-content-container">
                <img class="method-image" height="40" src="{{ site.baseurl }}/_images/learn-by-doing.svg">
                <h2 class="method-content-title">
                    APRENDA FAZENDO
                </h2>
            </div>
            <p class="method-content-text">
                Pratique processos e métodos ágeis por meio do desenvolvimento de um projeto de software.
            </p>
        </div>
        <div class="method-content">
            <div class="method-content-container">
                <img class="method-image" height="40" src="{{ site.baseurl }}/_images/learn-from-others.svg"> 
                <h2 class="method-content-title">
                    APRENDA COM OUTROS
                </h2>
            </div>
            <p class="method-content-text">
                Conecte-se com uma comunidade de profissionais enquanto trabalha em projetos baseados em exemplos do mundo real.
            </p>
        </div>
        <div class="method-content">
            <div class="method-content-container">
                <img class="method-image" height="40" src="{{ site.baseurl }}/_images/learn-on-demand.svg">
                <h2 class="method-content-title">
                    APRENDA SOB DEMANDA
                </h2>
            </div>
            <p class="method-content-text">
                Acesse todo o conteúdo online e assista vídeos em qualquer lugar, no seu próprio ritmo.
            </p>
        </div>
        <div class="method-content">
            <div class="method-content-container">
                <img class="method-image" height="40" src="{{ site.baseurl }}/_images/reflect-and-apply.svg">
                <h2 class="method-content-title">
                    REFLITA E APLIQUE
                </h2>
            </div>
            <p class="method-content-text">
                Traga suas novas habilidades para  o seu portifólio, através de exemplos de ambientes técnicos e amplas oportunidades de reflexão.
            </p>
        </div>
        <div class="method-content">
            <div class="method-content-container">
                <img class="method-image" height="40" src="{{ site.baseurl }}/_images/demonstrate-success.svg">
                <h2 class="method-content-title">
                    DEMONSTRE SEU SUCESSO
                </h2>
            </div>
            <p class="method-content-text">
                Comprove suas competências em Engenharia de Software através de projetos práticos.
            </p>
        </div>
        <div class="method-content">
            <div class="method-content-container">
                <img class="method-image" height="40" src="{{ site.baseurl }}/_images/learn-from-best.svg">
                <h2 class="method-content-title">
                    APRENDA COM OS MELHORES
                </h2>
            </div>
            <p class="method-content-text">
                Obtenha insights de professores e especialistas da indústria com experiência em DevOps e engenharia de software.
            </p>
        </div>
    </div>
</div>