<div id="partners-contribution" class="partners-content">
    <div class="partners-wrapper">
        <div class="partners-timeline">
            <div class="timeline-content-wrapper">
                <div class="icons-wrapper">
                    <i class="fas fa-lightbulb" style="color:#262626; font-size:25px;"></i>
                </div>
                <p>Idealize um projeto</p>
            </div>
            <div class="line"></div>
            <div class="timeline-content-wrapper content-shine">
                <div class="icons-wrapper shine">
                    <i class="fas fa-handshake" style="color:#262626; font-size:35px;"></i>
                </div>
                <p>Monte sua equipe</p>
            </div>
            <div class="line"></div>
            <div class="timeline-content-wrapper">
                <div class="icons-wrapper">
                    <i class="fas fa-laptop-code" style="color:#262626; font-size:25px;"></i>
                </div>
                <p>Desenvolvimento do seu projeto</p>
            </div>
            <div class="line"></div>
            <div class="timeline-content-wrapper">
                <div class="icons-wrapper">
                    <i class="fas fa-cube" style="color:#262626; font-size:25px;"></i>
                </div>
                <p>Sua ideia se torna realidade</p>
            </div>
        </div>
    </div>
</div>