<div class="sidebar-content">
    <div class="sidebar" id="sidebar">
    <!-- <div class="sidebar" style="display:none" id="sidebar"> -->
        <!-- <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button> -->
        <ul class="menu-mobile">
            leo
            <!-- {% for item in site.data.nav.items %}
                <li>
                    <a class="page-link" href="{{ item.url | prepend: site.baseurl }}">
                        <i class="{{ item.icon_class }}"></i> {{ item.name }}
                    </a>
                </li>
            {% endfor %} -->
        </ul>
    </div>
</div>
