.about-lab-wrapper {
    display: flex;
    width: 100%;

    background: linear-gradient(135deg, $tropical-ocean 0%, $tropical-coral 50%, $tropical-sunset 100%);
}

.imagens-grid-wrapper {
    display: flex;
    
    img {
        filter: grayscale(100%);
        transition: all 0.4s ease-in-out;
        
        &:hover {
            filter: grayscale(0%);
        }
    }
}

.images-column {
    width: 50%;
}

.grid-wrapper {
    height: 50%;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.big-image {
    img { 
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.about-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;

    h1 {
        color: $tropical-white;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    }

    .about-text {
        font-size: 14px;
        color: $tropical-white;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        color: white;
        text-align: left;

        a {
            color: #FFE066;
            text-decoration: underline;
            font-weight: 600;
            
            &:hover {
                color: #FFF59D;
            }
        }
    }

    h1 {
        color: white;
        margin: 0;
        margin-bottom: 60px;
        font-size: 40px;
        font-weight: 600;
    }
}