.partners-content {
    width: 100%;
    background-color: #262626;
    
    display: flex;
}

.partners-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 60px;
}

.partners-timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
}

.line { 
    width: 80px;
    height: 1px;
    opacity: 60%;

    background-color: white;
}

.icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: white;

    opacity: 60%;

    width: 60px;
    height: 60px;
}

.shine {
    opacity: 100%;
    width: 80px;
    height: 80px;
}

.timeline-content-wrapper {
    width: 120px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    
    p {
        height: 90px;
        margin-top: 10px;

        font-size: 14px;
        opacity: 60%;
    }

}

.content-shine p {
    font-size: 15px;
    opacity: 100%;
}

.partners-text-wrapper {
    width: 100%;

    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
}

.partners-text {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        font-size: 14px;
        color: white;
        margin: 0px;
    }

    button {
        cursor: pointer;
    
        background-color: rgba(0, 193, 252, 0.8);
        color: white;
        opacity: 100%;
        
        padding: 15px 20px;
        border: none;
        border-radius: 10px;
    
        font-size: 15px;
    
        &:hover {
            opacity: 80%;
        }
    }
}

.partners-button {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.partners-title {
    color: white;
    margin: 0;
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: 600;
}
