---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$header-background-invert: 0%;
@import "user_vars";

// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   .95em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      $primary-color;
// $gameday-sky: #109dc0;
$clemson-purple:      $header-color;
$clemson-orange:      $accent-color;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:    1020px;

$on-palm:          600px;
$on-laptop:        950px;

// $color-bg1: rgb(177, 192, 255);
$color-bg1: rgb(255, 255, 255);
$color-bg2: rgb(255, 255, 255);
$color1: 184, 242, 230;
$color2: 204, 213, 255;
$color3: 0, 232, 252;
$color4: 231, 187, 227;
$color5: 10, 129, 209;
$color-interactive: 49, 133, 252;
$circle-size: 60%;
$blending: hard-light;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "header",
	    "mobile-header",
        "base",
        "layout",
        "syntax-highlighting",
	    "fancy-image",
        "bubble-background",
        "home-message",
        "institutions",
        "last-editions",
        "testimony",
        "method",
        "about-lab",
        "layout-mobile",
        "materials",
        "partners"
;

