<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>
    document.querySelectorAll('.module-header').forEach(function(header) {
      header.addEventListener('click', function(e) {
        e.preventDefault();
        this.parentElement.classList.toggle('expanded');
      });
    });
    </script>
  </body>

</html>